.ustalan{
    width: 300px;
    height: 200px;
    background-color: rosybrown;
}
.ustsol{
    width: 40%;
    height: 200px;
    background-color: thistle;
}
.ustsag{
    width: 40%;
    height: 200px;
    background-color: thistle;
}